
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- bootstrap css -->
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<!-- style css -->
<link href="~/Content/css/style.css" rel="stylesheet" />
<!-- Responsive-->
<link href="~/Content/css/responsive.css" rel="stylesheet" />
<!-- Scrollbar Custom CSS -->
<link href="~/Content/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
<section class="banner_main" >
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="text-bg">
                    <h1> <span class="blodark text-animation"> Study free </span> <br>Học miễn phí</h1>
                    <p>Học tập hiệu quả</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ban_img">
                    <figure><img src="~/Content/images/study1.jpg" alt="#" /></figure>
                    <br>
                    <figure><img src="~/Content/images/homelearning.jpg" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</section>
